<!DOCTYPE html>
<html>
  <head>
    <title>Permanote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('evernote-full.png') %>";
    </script>
    <script type="text/javascript">
      window.logoInlineURL = "<%= image_url('evernote-inline.png') %>";
    </script>
    <script type="text/javascript">
      window.backgroundURL = "<%= image_url('background.png') %>";
    </script>
    <script type="text/javascript">
      window.heroURL = "<%= image_url('homepage-hero.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
