<!DOCTYPE html>
<html>
  <head>
    <title>Permanote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="Permanote">
    <meta property="og:description" content="Your notes will be here, even when you no longer are.">
    <meta property="og:image" content="<%= image_url('permanote-full-social.png') %>" />
    <meta property="og:url" content="https://permanote-app.herokuapp.com/">

    <link rel="shortcut icon" type="image/png" href="<%= image_url('permanote-icon.png') %>"/>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/e93199a89e.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('permanote-full.png') %>";
    </script>
    <script type="text/javascript">
      window.logoInlineURL = "<%= image_url('permanote-inline.png') %>";
    </script>
    <script type="text/javascript">
      window.backgroundURL = "<%= image_url('background.png') %>";
    </script>
    <script type="text/javascript">
      window.heroURL = "<%= image_url('homepage-hero.png') %>";
    </script>
    <script type="text/javascript">
      window.iconURL = "<%= image_url('permanote-icon.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
